{% extends getPartial('page-design') %}

{% block PageBody %}

<div class="contentpageSlider margin-top-1" data-plenty="contentpageSlider">
	<!-- LED led-weekly-deal -->
<div class="slide" style="background-image: url(/images/gallery/SES.slider/ses-weekly-deal-neu-bigbanner.png);">
 <a href="/led-aktionen/led-weekly-deal/" class="sliderlink" title="LED Weekly Deal - Jede Woche ein neues Angebot" target="_self"></a>
</div>

<!-- LED Sonnenglas -->
<div class="slide" style="background-image: url(/images/gallery/SES.slider/ses-online-shop-led-sonnenglas-2017.jpg);">
 <a href="/led-lampenwelt/led-dekolampen/led-sonnenglas/a-2346/" class="sliderlink" title="Das neue und einzigartige Sonnenglas LED Licht" target="_self">&nbsp;</a>
</div>

<!-- LED Hammerpreis -->
<div class="slide" style="background-image: url(/images/gallery/SES.slider/9w-hammerpreis-2-ses-shop-bigbanner.jpg);">
 <a href="/blog/LED-Birnen-zum-unschlagbaren-Hammerpreis/b-90/" class="sliderlink" title="LED Birnen zum unschlagbaren Hammerpreis" target="_self">&nbsp;</a>
</div>

<!-- LED Taschenlampen Klarus -->
<div class="slide" style="background-image: url(/images/gallery/SES.slider/klarus-taschenlampe-ses-online-kaufen.jpg);">
 <a href="/led-lampenwelt/led-taschenlampen/klarus-lampen/" class="sliderlink" title="Klarus LED Taschenlampen - hell, robust und stromsparend" target="_self">&nbsp;</a>
</div>

<!-- LED Aussenbeleuchtung Konstsmide -->
<div class="slide" style="background-image: url(/images/gallery/SES.slider/ses-online-shop-konstsmide-led-aussenbeleuchtung-2017.jpg);">
 <a href="/blog/Konstsmide-LED-Leuchten-im-Aussenbereich/b-78/" class="sliderlink" title="Rücken Sie Aussenbereiche gezielt mit LED ins richtige Licht." target="_self">&nbsp;</a>
</div>
</div>

	<div class="container leistungen margin-top-2">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <div class="pull-left">
			 	<i class="fa fa-thumbs-up"></i>
			 </div>
			 <div class="pull-left">
			 	<a href="/led-service-und-support/led-garantie/" title="Services & Support - LED Garantie">
			 	<span class="bold">2-5 Jahre Garantie</span><br />
			 	<span class="subtext">Auf alle LED Produkte</span>
			 	</a>
			 </div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <div class="pull-left">
			 	<i class="fa fa-truck"></i>
			 </div>
			 <div class="pull-left">
			 	<a href="led-service-und-support/led-versand/" title="Services & Support - LED Garantie">
			 	<span class="bold">Gratis Versand</span><br />
			 	<span class="subtext">Postpac Economy ab CHF 80.00</span>
			 	</a>
			 </div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <div class="pull-left">
			 	<i class="fa fa-phone"></i>
			 </div>
			 <div class="pull-left">
			 	<a href="/led-webshop/kontakt/" title="Services & Support - LED Garantie">
			 	<span class="bold">Telefon Support</span><br />
			 	<span class="subtext">+41 62 858 80 90</span>
			 	</a>
			 </div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <div class="pull-left">
			 	<i class="fa fa-clock-o"></i>
			 </div>
			 <div class="pull-left">
			 	<a href="/unternehmen/standorte/" title="Services & Support - LED Garantie">
			 	<span class="bold">Öffnunszeiten Mo bis Fr</span><br />
			 	<span class="subtext" style="font-size: 11px;">09:00-12:00 Uhr / 13:30-16:30 Uhr</span>
			 	</a>
			 </div>
			</div>
		</div>
			 <hr class="margin-top-2"/>
	</div>

<div class="container contentpageBoxes margin-top-1">
	<div class="row">
		<div class="contentbox col-lg-6 col-md-6 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
 <span class="h3">LED Flutlichter</span>
 <a href="/led-systeme/led-flutlichter/" title="LED Flutlichter im SES Online Store" target="_self">
  <img src="/documents/category/261/led-flutlichter-ses-shop.jpg" alt="LED Flutlichter im SES Online Store kaufen" >
 </a>
</div>

<div class="contentbox col-lg-6 col-md-6 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
 <span class="h3">LED Stehleuchten</span>
 <a href="/led-lampenwelt/led-staenderlampen/?" title="Ergonomische und schöne LED Stehleuchten für Büros, Ausstellungen oder Ihre Wohnung." target="_self">
  <img src="/documents/category/256/vita-design-leuchten-blog.jpg" alt="Stehleuchten für Büros, Ausstellungen oder Ihre Wohnung." >
 </a>
</div>

<div class="margin-top-1 hidden-md hidden-sm hidden-xs">&nbsp;</div>

<div class="contentbox col-lg-4 col-md-4 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
 <span class="h3">LED Sparpakete</span>
 <a href="/led-aktionen/led-sparpakete/" title="LED Sparpakete im SES Online Store" target="_self">
  <img src="/images/gallery/SES.Specials/ses-led-sparpakete-box-2018-01.jpg" alt="LED Sparpakete im SES Online Store" >
 </a>
</div>

<div class="contentbox col-lg-4 col-md-4 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
 <span class="h3">LED Weekly Deal</span>
 <a href="/led-aktionen/led-weekly-deal/" title="SES Weekly Deal - Jede Woche ein Top Angebot" target="_self">
  <img src="/images/gallery/SES.Specials/ses-led-weeklydeal-box-2018-01.jpg" alt="SES Weekly Deal - Jede Woche ein Top Angebot" >
 </a>
</div>

<div class="contentbox col-lg-4 col-md-4 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
 <span class="h3">LED Ausverkauf</span>
 <a href="/led-aktionen/led-lager-ausverkauf/" title="Grosser Ausverkauf im SES Online Store" target="_self">
  <img src="/images/gallery/SES.Specials/ses-led-ausverkauf-box-2018-01.jpg" alt="LED Ausverkauf im SES Online Store" >
 </a>
</div>

<div class="margin-top-1 hidden-md hidden-sm hidden-xs">&nbsp;</div>

<div class="contentbox col-lg-6 col-md-6 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
 <span class="h3">LED Röhren T8</span>
 <a href="/led-leuchtmittel/led-roehren/led-roehren-t8/" title="Hochqualitative und äusserst effiziente T8 LED Röhren" target="_self">
  <img src="/images/gallery/SES.Specials/ses-ag-led-powertube-banner.jpg" alt="Äusserst effiziente T8 LED Röhren im SES Online Store" >
 </a>
</div>

<div class="contentbox col-lg-6 col-md-6 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
 <span class="h3">LED Taschen- & Stirnlampen</span>
 <a href="/led-lampenwelt/led-taschenlampen/" title="LED Bike Beleuchtung im SES Online Store kaufen" target="_self">
  <img src="/images/gallery/SES.Specials/led-taschenlampen-led-stirnlampen-ses.jpg" alt="LED Bike Beleuchtung" >
 </a>
</div>
	</div>
</div>



<!-- Startseiten Produkte -->


<div class="container margin-top-1 margin-bottom-3">
	<div class="row">
		<div class="col-lg-12 contentimages">


			<div class="LatestItemsFrontpage">
					<hr class="margin-top-3 margin-bottom-3" />
					<span class="h3">Neu im SES Online Store <a class="small pull-right xs-pull-left all" href="/led-neuheiten/" title="LED Neuheiten im SES Online Store">Alle LED Neuheiten anzeigen</a></span>






















<div class="crossSellingWrapper row">

	<div class="crossSellingSlider">


			<form action="/" name="Article_4826" id="Article_4826" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4826"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="19.9"/>
				 <input type="hidden" name="BranchId" value="324"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4826"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-leuchtmittel/led-dekoleuchmittel/led-flamme-e27-mit-echtem-flackern-4w-280lm-300/a-4826/" data-plenty-href="item-4826" title="LED Flamme E27 mit echtem Flackern 4W 280lm 300° kaufen">


								<img class="center img-responsive id-4826" src="" data-original="/item/images/4826/600x600/vtac-SKU7426-led-flame-bulb-4w-e27-01-on.jpg" alt="LED Flamme E27 mit echtem Flackern 4W 280lm 300&deg;" data-plenty-link="item-4826" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4826" src="/item/images/4826/600x600/vtac-SKU7426-led-flame-bulb-4w-e27-01-on.jpg" alt="LED Flamme E27 mit echtem Flackern 4W 280lm 300&deg;"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-leuchtmittel/led-dekoleuchmittel/led-flamme-e27-mit-echtem-flackern-4w-280lm-300/a-4826/" data-plenty-href="item-4826">LED Flamme E27 mit echtem Flackern 4W 280lm 300°</a>
								<hr>

								<p class="price width100" data-plenty-link="item-4826">
								<span class="linkToItem">CHF&thinsp;19.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4823" id="Article_4823" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4823"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="19.9"/>
				 <input type="hidden" name="BranchId" value="255"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4823"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/led-happy-birthday-string-lights-lichterkette-kikkerland/a-4823/" data-plenty-href="item-4823" title="LED Happy Birthday String Lights Lichterkette Kikkerland kaufen">


								<img class="center img-responsive id-4823" src="" data-original="/item/images/4823/600x600/LED-Lichterkette-Happy-Birthday-04.jpg" alt="LED Happy Birthday String Lights Lichterkette Kikkerland" data-plenty-link="item-4823" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4823" src="/item/images/4823/600x600/LED-Lichterkette-Happy-Birthday-04.jpg" alt="LED Happy Birthday String Lights Lichterkette Kikkerland"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/led-happy-birthday-string-lights-lichterkette-kikkerland/a-4823/" data-plenty-href="item-4823">LED Happy Birthday String Lights Lichterkette Kikkerland</a>
								<hr>

								<p class="price width100" data-plenty-link="item-4823">
								<span class="linkToItem">CHF&thinsp;19.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4822" id="Article_4822" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4822"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="19.9"/>
				 <input type="hidden" name="BranchId" value="255"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4822"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/led-disco-string-lights-spiegelkugeln-kikkerland/a-4822/" data-plenty-href="item-4822" title="LED Disco String Lights Spiegelkugeln Kikkerland kaufen">


								<img class="center img-responsive id-4822" src="" data-original="/item/images/4822/600x600/LED-Lichterkette-Disco-Kugel-Silber-02.jpg" alt="LED Disco String Lights Spiegelkugeln Kikkerland" data-plenty-link="item-4822" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4822" src="/item/images/4822/600x600/LED-Lichterkette-Disco-Kugel-Silber-02.jpg" alt="LED Disco String Lights Spiegelkugeln Kikkerland"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/led-disco-string-lights-spiegelkugeln-kikkerland/a-4822/" data-plenty-href="item-4822">LED Disco String Lights Spiegelkugeln Kikkerland</a>
								<hr>

								<p class="price width100" data-plenty-link="item-4822">
								<span class="linkToItem">CHF&thinsp;19.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4821" id="Article_4821" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4821"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="21.9"/>
				 <input type="hidden" name="BranchId" value="255"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4821"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/led-einhorn-lichterkette-mit-10-farbigen-einhoerner/a-4821/" data-plenty-href="item-4821" title="LED Einhorn Lichterkette mit 10 farbigen Einhörner kaufen">


								<img class="center img-responsive id-4821" src="" data-original="/item/images/4821/600x600/LED-Einhorn-Lichterkette-10-Farbig-01.jpg" alt="LED Einhorn Lichterkette mit 10 farbigen Einh&ouml;rner" data-plenty-link="item-4821" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4821" src="/item/images/4821/600x600/LED-Einhorn-Lichterkette-10-Farbig-01.jpg" alt="LED Einhorn Lichterkette mit 10 farbigen Einh&ouml;rner"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/led-einhorn-lichterkette-mit-10-farbigen-einhoerner/a-4821/" data-plenty-href="item-4821">LED Einhorn Lichterkette mit 10 farbigen Einhörner</a>
								<hr>

								<p class="price width100" data-plenty-link="item-4821">
								<span class="linkToItem">CHF&thinsp;21.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_1236" id="Article_1236" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="1236"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="28.9"/>
				 <input type="hidden" name="BranchId" value="375"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-1236"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-leuchtmittel/led-roehren/led-t8-powertube-g13-1500mm-24w-neutralweiss-3-600lm-120-satiniert/a-1236/" data-plenty-href="item-1236" title="LED T8 Röhre 1500mm SES PowerTube G13 150lm/W 120° kaufen">


								<img class="center img-responsive id-1236" src="" data-original="/item/images/1236/600x600/ses-ag-power-tube-led-1-s.jpg" alt="LED T8 R&ouml;hre 1500mm SES PowerTube G13 150lm/W 120&deg;" data-plenty-link="item-1236" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-1236" src="/item/images/1236/600x600/ses-ag-power-tube-led-1-s.jpg" alt="LED T8 R&ouml;hre 1500mm SES PowerTube G13 150lm/W 120&deg;"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-leuchtmittel/led-roehren/led-t8-powertube-g13-1500mm-24w-neutralweiss-3-600lm-120-satiniert/a-1236/" data-plenty-href="item-1236">LED T8 Röhre 1500mm SES PowerTube G13 150lm/W 120°</a>
								<hr>

								<p class="price width100" data-plenty-link="item-1236">
								<span class="linkToItem">CHF&thinsp;28.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_2143" id="Article_2143" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="2143"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="25.9"/>
				 <input type="hidden" name="BranchId" value="375"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-2143"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-leuchtmittel/led-roehren/led-t8-powertube-g13-1200mm-20w-neutralweiss-3-000lm-120-satiniert/a-2143/" data-plenty-href="item-2143" title="LED T8 Röhre 1200mm SES PowerTube G13 150lm/W 120° kaufen">


								<img class="center img-responsive id-2143" src="" data-original="/item/images/2143/600x600/ses-ag-power-tube-led-1-s.jpg" alt="LED T8 R&ouml;hre 1200mm SES PowerTube G13 150lm/W 120&deg;" data-plenty-link="item-2143" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-2143" src="/item/images/2143/600x600/ses-ag-power-tube-led-1-s.jpg" alt="LED T8 R&ouml;hre 1200mm SES PowerTube G13 150lm/W 120&deg;"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-leuchtmittel/led-roehren/led-t8-powertube-g13-1200mm-20w-neutralweiss-3-000lm-120-satiniert/a-2143/" data-plenty-href="item-2143">LED T8 Röhre 1200mm SES PowerTube G13 150lm/W 120°</a>
								<hr>

								<p class="price width100" data-plenty-link="item-2143">
								<span class="linkToItem">CHF&thinsp;25.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4818" id="Article_4818" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4818"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="15.9"/>
				 <input type="hidden" name="BranchId" value="255"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4818"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/led-flaschenlicht-bottlelight-fibre-optic-usb/a-4818/" data-plenty-href="item-4818" title="LED Flaschenlicht BottleLight Fibre Optic USB  kaufen">


								<img class="center img-responsive id-4818" src="" data-original="/item/images/4818/600x600/Bottle-Light-Fibre-Optic-USB-05.jpg" alt="LED Flaschenlicht BottleLight Fibre Optic USB " data-plenty-link="item-4818" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4818" src="/item/images/4818/600x600/Bottle-Light-Fibre-Optic-USB-05.jpg" alt="LED Flaschenlicht BottleLight Fibre Optic USB "></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/led-flaschenlicht-bottlelight-fibre-optic-usb/a-4818/" data-plenty-href="item-4818">LED Flaschenlicht BottleLight Fibre Optic USB </a>
								<hr>

								<p class="price width100" data-plenty-link="item-4818">
								<span class="linkToItem">CHF&thinsp;15.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4795" id="Article_4795" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4795"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="18.9"/>
				 <input type="hidden" name="BranchId" value="38"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4795"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-leuchtmittel/led-g9/led-pin-g9-12w-1080lm-270/a-4795/" data-plenty-href="item-4795" title="LED Pin G9 12W 1080lm 270°  kaufen">


								<img class="center img-responsive id-4795" src="" data-original="/item/images/4795/600x600/Ledin-led-G9-Pin-248900-01.jpg" alt="LED Pin G9 12W 1080lm 270&deg; " data-plenty-link="item-4795" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4795" src="/item/images/4795/600x600/Ledin-led-G9-Pin-248900-01.jpg" alt="LED Pin G9 12W 1080lm 270&deg; "></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-leuchtmittel/led-g9/led-pin-g9-12w-1080lm-270/a-4795/" data-plenty-href="item-4795">LED Pin G9 12W 1080lm 270° </a>
								<hr>

								<p class="price width100" data-plenty-link="item-4795">
								<span class="linkToItem">CHF&thinsp;18.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4789" id="Article_4789" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4789"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="29.9"/>
				 <input type="hidden" name="BranchId" value="248"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4789"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-leuchtmittel/led-smart-light/led-birne-e27-a60-7w-multicolor-550lm-270-mit-bluetooth/a-4789/" data-plenty-href="item-4789" title="LED Birne E27 Smart A60 7W WiFi RGB 550lm 270° mit Bluetooth kaufen">


								<img class="center img-responsive id-4789" src="" data-original="/item/images/4789/600x600/Calex-LED-421726-01-1.jpg" alt="LED Birne E27 Smart A60 7W WiFi RGB 550lm 270&deg; mit Bluetooth" data-plenty-link="item-4789" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4789" src="/item/images/4789/600x600/Calex-LED-421726-01-1.jpg" alt="LED Birne E27 Smart A60 7W WiFi RGB 550lm 270&deg; mit Bluetooth"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-leuchtmittel/led-smart-light/led-birne-e27-a60-7w-multicolor-550lm-270-mit-bluetooth/a-4789/" data-plenty-href="item-4789">LED Birne E27 Smart A60 7W WiFi RGB 550lm 270° mit Bluetooth</a>
								<hr>

								<p class="price width100" data-plenty-link="item-4789">
								<span class="linkToItem">CHF&thinsp;29.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4786" id="Article_4786" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4786"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="5.9"/>
				 <input type="hidden" name="BranchId" value="321"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4786"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-leuchtmittel/led-filament/e14-filament/led-kerze-filament-e14-6w-600lm-300/a-4786/" data-plenty-href="item-4786" title="LED Kerze Filament E14 6W 600lm 300° kaufen">


								<img class="center img-responsive id-4786" src="" data-original="/item/images/4786/600x600/VT-SKU4301-01-Badge.jpg" alt="LED Kerze Filament E14 6W 600lm 300&deg;" data-plenty-link="item-4786" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4786" src="/item/images/4786/600x600/VT-SKU4301-01-Badge.jpg" alt="LED Kerze Filament E14 6W 600lm 300&deg;"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-leuchtmittel/led-filament/e14-filament/led-kerze-filament-e14-6w-600lm-300/a-4786/" data-plenty-href="item-4786">LED Kerze Filament E14 6W 600lm 300°</a>
								<hr>

								<p class="price width100" data-plenty-link="item-4786">
								<span class="linkToItem">CHF&thinsp;5.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-1 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4783" id="Article_4783" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4783"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="99"/>
				 <input type="hidden" name="BranchId" value="314"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4783"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-lampenwelt/led-pollerleuchten/led-wegleuchte-bristol-e27-aus-edelstahl-mit-bewegungssensor-1220mm-ip44/a-4783/" data-plenty-href="item-4783" title="LED Wegleuchte Bristol E27 aus Edelstahl mit Bewegungssensor 1220mm IP44 kaufen">


								<img class="center img-responsive id-4783" src="" data-original="/item/images/4783/600x600/Lutec-Bristol-LED-Wegeleuchte-Schwarz-Sensor-ambient.jpg" alt="LED Wegleuchte Bristol E27 aus Edelstahl mit Bewegungssensor 1220mm IP44" data-plenty-link="item-4783" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4783" src="/item/images/4783/600x600/Lutec-Bristol-LED-Wegeleuchte-Schwarz-Sensor-ambient.jpg" alt="LED Wegleuchte Bristol E27 aus Edelstahl mit Bewegungssensor 1220mm IP44"></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-lampenwelt/led-pollerleuchten/led-wegleuchte-bristol-e27-aus-edelstahl-mit-bewegungssensor-1220mm-ip44/a-4783/" data-plenty-href="item-4783">LED Wegleuchte Bristol E27 aus Edelstahl mit Bewegungssensor 1220mm IP44</a>
								<hr>

								<p class="price width100" data-plenty-link="item-4783">
								<span class="linkToItem">CHF&thinsp;99.00</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-4 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>


			<form action="/" name="Article_4737" id="Article_4737" class="article_order_form" method="post" enctype="multipart/form-data">

				 <input type="hidden" name="ActionCall" value="WebActionBasketAddArticle"/>
				 <input type="hidden" name="ArticleID" value="4737"/>
				 <input type="hidden" name="ArticleQuantity__AutoField" value="1"/>
				 <input type="hidden" name="ArticlePrice" value="19.9"/>
				 <input type="hidden" name="BranchId" value="254"/>
				 <input type="hidden" name="SYS_P_ID" value="1"/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 itemBox tileView onHover action-2">

						<!-- action label -->



						<div class="action" data-plenty-link="item-4737"><img src="/images/gallery/SES.templates/neuheit.png" class="aktion" alt="aktion"></div>

						<!-- ./action label -->

					<div class="itemBoxInner">


							<div class="imageBox">
							<a href="https://www.ses-shop.ch/led-lampenwelt/led-gartenlampen/led-solar-wegleuchte-neutralweiss-im-4er-set/a-4737/" data-plenty-href="item-4737" title="LED Solar Wegleuchte Neutralweiss im 4er Set  kaufen">


								<img class="center img-responsive id-4737" src="" data-original="/item/images/4737/600x600/Heitronic-LED-Licht-36056-a-65.jpg" alt="LED Solar Wegleuchte Neutralweiss im 4er Set " data-plenty-link="item-4737" data-plenty-lazyload="fadeIn">
								<noscript><img class="center img-responsive id-4737" src="/item/images/4737/600x600/Heitronic-LED-Licht-36056-a-65.jpg" alt="LED Solar Wegleuchte Neutralweiss im 4er Set "></noscript>
								</a>
							</div>

							<!-- item info -->
							<div class="box-padding">
								<a class="small name block" href="https://www.ses-shop.ch/led-lampenwelt/led-gartenlampen/led-solar-wegleuchte-neutralweiss-im-4er-set/a-4737/" data-plenty-href="item-4737">LED Solar Wegleuchte Neutralweiss im 4er Set </a>
								<hr>

								<p class="price width100" data-plenty-link="item-4737">
								<span class="linkToItem">CHF&thinsp;19.90</span>
								<span class="availabilityImageWrapper pull-right">

										<span class="availabilityIcon availabilityDetails-3 available-4 pull-left" data-plenty="availabilityIcon">
											<span class="first"></span>
											<span class="second"></span>
											<span class="third"></span>
										</span>

								</span>
								</p>
								<p class="shipping small">
									inkl. MwSt. zzgl. <a href="https://www.ses-shop.ch/led-service-und-support/led-versand/">Versand</a>
								</p>

							</div>
						<!-- ./item info -->

					</div>
				</div>
			</form>

	</div>
</div>

<script>
$(document).ready(function() {
	$('.crossSellingSlider').owlCarousel({
		items: 4,
		navigation: true,
		navigationText: false,
		rewindNav: true,
		pagination: true,
		mouseDrag: true,
		autoPlay: true,
		autoPlay: 12000,
		stopOnHover : true,
		afterMove: function(current) { $(current).find('img[data-plenty-lazyload]').trigger('appear'); }
		});
	})
</script>

			</div>





<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<hr class="margin-top-2 margin-bottom-2"/>
		<a href="/unternehmen/partnerschaften/" title="Partner und Verbände der SES Swiss Energy Solution AG" class="partner"><img src="/images/gallery/SES.templates/ses-led-partner-fp.png" alt="SES AG Partner" /></a>
	</div>
</div>

<div class="row">
		<div class="contentbox col-lg-12 col-md-12 col-sm-12 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
 <hr class="margin-top-2 margin-bottom-3"/>
 <span class="h3">LED Röhren Spezialangebot für Packungen à 25 Stk</span></span>
 <a href="/led-aktionen/led-roehren-spezialangebot/" title="Unschlagbare Preise für ausgewählte LED-Röhren" target="_self">
  <img src="/images/gallery/SES.Specials/LED-Sparpaket-SES-Online-Shop-Angebot-25stk-2016.jpg" alt="LED Röhren Spezialangebot bis Oktober 2016" >
 </a>
 <hr class="margin-top-3 margin-bottom-3"/>
</div>
</div>



<h1>SES Online Store - Ihr Schweizer Partner für professionelle LED Beleuchtung</h1>


<article><h2>Energieeffiziente LED Markenprodukte zu besten Preisen</h2>
<p>Im SES LED Online-Store finden Sie sämtliche LED Neuheiten und qualitativ hochwertige LED Produkte zu besten Preisen. Für den Privatgebrauch von der LED Birne bis hin zur&nbsp;<a href="/led-leuchtmittel/led-filament/">LED Filament Birne</a>&nbsp;oder für die professionelle LED Anwendungen in Büros, Architektur, Bau,&nbsp;<a href="/led-systeme/" target="_blank">Industrie, Logistik</a> und bei&nbsp;<a href="/led-systeme/led-strassenleuchten/" target="_blank">Kommunen</a>. Die hochqualitative SES Eigenmarke mit <a href="/led-leuchtmittel/led-roehren/">LED T8 / T5 Röhren</a>, SES <a href="https://www.ses-shop.ch/led-leuchtmittel/led-streifen-module/">LED Streifen</a> oder das hocheffiziente deutsche Hella IL2 Plus <a href="https://www.ses-shop.ch/led-systeme/led-tragschienensysteme/">LED Lichtbandsystem</a> oder Hellux&nbsp;<a href="https://www.ses-shop.ch/led-systeme/led-strassenleuchten/">LED Strasseleuchten</a> bilden nur ein kleinen Teil eines umfassenden LED Sortimentes.&nbsp;Einfach beim führenden LED Shop der Schweiz online bestellen und sofort Strom, Unterhaltskosten und Geld sparen.&nbsp;Wir realisieren mit Ihnen&nbsp;die Energieeffizienz, denn 14-16% des Gesamt-Strom-Verbrauchs wird für Licht teilweise verschwendet und davon könnten wir&nbsp;mit LED's einfach 50-60% einsparen. Durch die zusätzlich lange LED Lebensdauer und neueste&nbsp;LED Smart-Technologien,&nbsp;wird der Ressourceneinsatz und Unterhaltsaufwand massiv minimiert und die Umwelt geschont. Einfach zu&nbsp;realisieren für Jedermann, nur alte&nbsp;"Stromfresser" raus, LED rein und erst noch Geld beim Strom und Unterhalt sparen.</p>
<h2>LED Leuchtmittel und LED Leuchten einfach und sicher online bestellen</h2>
<p style="line-height: 20.8px;">Im&nbsp;SES&nbsp;<a href="https://www.trustedshops.ch/bewertung/info_X50EE1F62FE2A9D33EF8C08E77BC0E15F.html&amp;utm_source=shop&amp;utm_medium=link&amp;utm_content=trustcard&amp;utm_campaign=trustbadge" target="_blank">Trusted-Shop</a> LED Online Store&nbsp;und als&nbsp;<a href="http://www.ses-ag.ch/content/01-home/led-qualitaet/ses-swiss-energy-solution-ag-c-d.pdf?_ga=1.20984824.2134443857.1435337465" target="_blank">ISO 9001 / 14001</a> zertifizierten <a href="https://www.ses-shop.ch/unternehmen/swiss-energy-solution-ag/">SES Unternehmen</a>, mit TüV diplomierten Lichtplanern führen wir für den privaten und professionellen Anwender eine grosse Auswahl an&nbsp;<a href="/led-leuchtmittel/">Standard- und Spezial-LED-Leuchtmittel</a>. <a href="/led-leuchtmittel/led-filament/" target="_blank" title="Filament Birnen mit Glühbirnen Optik">LED Filament</a>, <a href="/led-leuchtmittel/e27-led-birnen/" title="LED Birnen mit E27 Sockel">E27 Birne</a>, <a href="/led-leuchtmittel/e14-led/" title="Kerzen mit E14 Sockel">E14 Kerze</a>, <a href="/led-leuchtmittel/gu4-led/" target="_blank" title="12 Volt GU4 Spots ">LED Spot&nbsp;in&nbsp;GU4</a>, <a href="/led-leuchtmittel/led-spot-5-3/" title="12 Volt GU5.3 Spots">GU5.3</a>, <a href="/led-leuchtmittel/gu10/" title="GU10 PAR LED Spots">GU10</a>, <a href="/led-leuchtmittel/led-roehren/" title="LED Röhren T8 und T5">T8 Röhre</a>, <a href="/led-leuchtmittel/r7s/" title="LED Stäbe mit R7s Sockel">RS7 Stäbe</a>, <a href="/led-systeme/led-flutlichter/" target="_blank" title="LED Fluterlichter / Scheinwerfer">LED Fluter</a>, <a href="/led-leuchtmittel/g4/" title="LED Pins mit G4 Sockel">LED Pin G4</a>, <a href="/led-leuchtmittel/led-g9/" title="G9 LED Pins">Pin G9</a>,&nbsp;<a href="/led-leuchtmittel/g24/" title="LED Stäbe mit G24 Sockel">LED Stab G24</a>,&nbsp;<a href="/led-leuchtmittel/led-streifen-module/" title="LED Streifen und Module für dekoratives Licht">LED Streifen</a>,&nbsp;<a href="/led-systeme/led-flaechenleuchten/" target="_blank" title="LED Panels, Decken- und Wandleuchten">LED Panels</a> und vieles mehr. Unter der Rubrik <a href="https://www.ses-shop.ch/led-lampenwelt/">LED Lampenwelt</a> finden Sie: <a href="https://www.ses-shop.ch/led-lampenwelt/led-gartenlampen/">LED Gartenlampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-tischlampen/">LED Tischlampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-staenderlampen/">LED Ständerlampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-wandlampen-deckenlampen/">Wand - und Deckenleuchten</a>, top <a href="https://www.ses-shop.ch/led-lampenwelt/led-taschenlampen/">LED Taschenlampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-taschenlampen/">LED Lichterketten</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-moebellampen/">LED Möbel-Lampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/">LED Dekolampen</a>&nbsp;und <a href="https://www.ses-shop.ch/led-lampenwelt/led-nachtlichter/">LED Nachtlichter</a>. Diese LED&nbsp;Produkte können einfach, sicher&nbsp;und unkompliziert via SES LED Shop online bestellt oder direkt in unserem Verkaufsladen in 5012 Schönenwerd bezogen werden. Wiederverkäufer, Elektriker,&nbsp;Unterhaltsfirmen, Ladenbauer und LED Leuchten-Shops erhalten zudem sehr interessante Sonder-Konditionen.</p>
<p>Wir ergänzen laufend unser LED Sortiment, <a href="/led-service-und-support/downloads/" target="_blank">unter Downloads finden Sie Kataloge unsere TOP LED Marken-Hersteller</a>.<br />Finden Sie etwas nicht im SES LED Online Store, <a href="https://www.ses-shop.ch/led-webshop/kontakt/">rufen Sie uns einfach an</a>.</p>
<h2>LED Lichtplanung und SES Service von A-Z</h2>
<p>Die SES AG führt ein hochqualitatives, innovatives, modulares und nachhaltiges LED Produktsortiment auch für absolut&nbsp;<a href="https://www.ses-shop.ch/led-systeme/">professionelle LED Anwendungen</a>. Als Gesamt-Dienstleister&nbsp;erstellen wir komplette <a href="/led-service-und-support/led-projektberatung/" title="Komplette LED Lichtplanungen">Lichtplanungen</a>, helfen bei der Projekt-Finanzierung oder realisieren Ihre LED Lichtprojekt&nbsp;als GU.&nbsp;Wir garantieren energieeffiziente und kostenoptimierte LED Gesamtlösungen für Produktionshallen, Lager, Bürogebäude; Hotels, Restaurants, Verkaufsshops und Wohnhäuser für den Innen- und Aussenbereich. Ziel der SES AG ist es beste LED Markenprodukten-Produkte und einen vollumfänglichen Service anzubieten. Eine maximale Energieeffizienz mittels perfekter&nbsp;<a href="/led-service-und-support/led-projektberatung/" title="LED Lichtplanungen">LED Lichtplanung</a>, bester LED Produktelösung und optimaler Steuerungen zu erreichen.&nbsp;Die SES AG garantiert maximale Energieeffizienz zu minimalen Gesamtkosten mit ökologischem Mehrwert.</p>
<p><a href="https://www.ses-shop.ch/led-webshop/kontakt/">Kontaktieren Sie uns</a>, gerne beraten wir Sie.</p>
<p>SES AG Ihr Schweizer Partner für eine innovative und energieeffiziente LED Beleuchtung.</p>
<p>&nbsp;</p></article>
<div class="fb-like" data-href="https://www.ses-shop.ch/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>




		</div>
	</div>
</div>


{% endblock %}
