{% extends getPartial('page-design') %}

{% block PageBody %}

<div class="container leistungen margin-top-2">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
		 <div class="pull-left">
		 	<i class="fa fa-thumbs-up"></i>
		 </div>
		 <div class="pull-left">
		 	<a href="/led-service-und-support/led-garantie/" title="Services & Support - LED Garantie">
		 	<span class="bold">2-5 Jahre Garantie</span><br />
		 	<span class="subtext">Auf alle LED Produkte</span>
		 	</a>
		 </div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
		 <div class="pull-left">
		 	<i class="fa fa-truck"></i>
		 </div>
		 <div class="pull-left">
		 	<a href="led-service-und-support/led-versand/" title="Services & Support - LED Garantie">
		 	<span class="bold">Gratis Versand</span><br />
		 	<span class="subtext">Postpac Economy ab CHF 80.00</span>
		 	</a>
		 </div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
		 <div class="pull-left">
		 	<i class="fa fa-phone"></i>
		 </div>
		 <div class="pull-left">
		 	<a href="/led-webshop/kontakt/" title="Services & Support - LED Garantie">
		 	<span class="bold">Telefon Support</span><br />
		 	<span class="subtext">+41 62 858 80 90</span>
		 	</a>
		 </div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
		 <div class="pull-left">
		 	<i class="fa fa-clock-o"></i>
		 </div>
		 <div class="pull-left">
		 	<a href="/unternehmen/standorte/" title="Services & Support - LED Garantie">
		 	<span class="bold">Öffnunszeiten Mo bis Fr</span><br />
		 	<span class="subtext" style="font-size: 11px;">09:00-12:00 Uhr / 13:30-16:30 Uhr</span>
		 	</a>
		 </div>
		</div>
		</div>
		<hr class="margin-top-2"/>
</div>

<div class="container contentpageBoxes margin-top-1">
	<div class="row">

			<div class="contentbox col-lg-6 col-md-6 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <span class="h3">LED Flutlichter</span>
			 <a href="/led-systeme/led-flutlichter/" title="LED Flutlichter im SES Online Store" target="_self">
			  <img src="/documents/category/261/led-flutlichter-ses-shop.jpg" alt="LED Flutlichter im SES Online Store kaufen" >
			 </a>
			</div>

			<div class="contentbox col-lg-6 col-md-6 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <span class="h3">LED Stehleuchten</span>
			 <a href="/led-lampenwelt/led-staenderlampen/?" title="Ergonomische und schöne LED Stehleuchten für Büros, Ausstellungen oder Ihre Wohnung." target="_self">
			  <img src="/documents/category/256/vita-design-leuchten-blog.jpg" alt="Stehleuchten für Büros, Ausstellungen oder Ihre Wohnung." >
			 </a>
			</div>

			<div class="margin-top-1 hidden-md hidden-sm hidden-xs">&nbsp;</div>

			<div class="contentbox col-lg-4 col-md-4 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <span class="h3">LED Sparpakete</span>
			 <a href="/led-aktionen/led-sparpakete/" title="LED Sparpakete im SES Online Store" target="_self">
			  <img src="/images/gallery/SES.Specials/ses-led-sparpakete-box-2018-01.jpg" alt="LED Sparpakete im SES Online Store" >
			 </a>
			</div>

			<div class="contentbox col-lg-4 col-md-4 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <span class="h3">LED Weekly Deal</span>
			 <a href="/led-aktionen/led-weekly-deal/" title="SES Weekly Deal - Jede Woche ein Top Angebot" target="_self">
			  <img src="/images/gallery/SES.Specials/ses-led-weeklydeal-box-2018-01.jpg" alt="SES Weekly Deal - Jede Woche ein Top Angebot" >
			 </a>
			</div>

			<div class="contentbox col-lg-4 col-md-4 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <span class="h3">LED Ausverkauf</span>
			 <a href="/led-aktionen/led-lager-ausverkauf/" title="Grosser Ausverkauf im SES Online Store" target="_self">
			  <img src="/images/gallery/SES.Specials/ses-led-ausverkauf-box-2018-01.jpg" alt="LED Ausverkauf im SES Online Store" >
			 </a>
			</div>

			<div class="margin-top-1 hidden-md hidden-sm hidden-xs">&nbsp;</div>

			<div class="contentbox col-lg-6 col-md-6 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <span class="h3">LED Röhren T8</span>
			 <a href="/led-leuchtmittel/led-roehren/led-roehren-t8/" title="Hochqualitative und äusserst effiziente T8 LED Röhren" target="_self">
			  <img src="/images/gallery/SES.Specials/ses-ag-led-powertube-banner.jpg" alt="Äusserst effiziente T8 LED Röhren im SES Online Store" >
			 </a>
			</div>

			<div class="contentbox col-lg-6 col-md-6 col-sm-6 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
			 <span class="h3">LED Taschen- & Stirnlampen</span>
			 <a href="/led-lampenwelt/led-taschenlampen/" title="LED Bike Beleuchtung im SES Online Store kaufen" target="_self">
			  <img src="/images/gallery/SES.Specials/led-taschenlampen-led-stirnlampen-ses.jpg" alt="LED Bike Beleuchtung" >
			 </a>
			</div>
	</div>
</div>

<div class="container contentpageBoxes margin-top-1">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<hr class="margin-top-2 margin-bottom-2"/>
			<a href="/unternehmen/partnerschaften/" title="Partner und Verbände der SES Swiss Energy Solution AG" class="partner"><img src="/images/gallery/SES.templates/ses-led-partner-fp.png" alt="SES AG Partner" /></a>
		</div>
	</div>
</div>

<div class="container contentpageBoxes margin-top-1">
	<div class="row">
			<div class="contentbox col-lg-12 col-md-12 col-sm-12 col-xs-12 h-md-offset-bot-025 h-sm-offset-bot-025">
	 <hr class="margin-top-2 margin-bottom-3"/>
	 <span class="h3">LED Röhren Spezialangebot für Packungen à 25 Stk</span></span>
	 <a href="/led-aktionen/led-roehren-spezialangebot/" title="Unschlagbare Preise für ausgewählte LED-Röhren" target="_self">
	  <img src="/images/gallery/SES.Specials/LED-Sparpaket-SES-Online-Shop-Angebot-25stk-2016.jpg" alt="LED Röhren Spezialangebot bis Oktober 2016" >
	 </a>
	 <hr class="margin-top-3 margin-bottom-3"/>
	</div>
</div>


<div class="container contentpageBoxes margin-top-1">
	<h1>SES Online Store - Ihr Schweizer Partner für professionelle LED Beleuchtung</h1>


	<article><h2>Energieeffiziente LED Markenprodukte zu besten Preisen</h2>
	<p>Im SES LED Online-Store finden Sie sämtliche LED Neuheiten und qualitativ hochwertige LED Produkte zu besten Preisen. Für den Privatgebrauch von der LED Birne bis hin zur&nbsp;<a href="/led-leuchtmittel/led-filament/">LED Filament Birne</a>&nbsp;oder für die professionelle LED Anwendungen in Büros, Architektur, Bau,&nbsp;<a href="/led-systeme/" target="_blank">Industrie, Logistik</a> und bei&nbsp;<a href="/led-systeme/led-strassenleuchten/" target="_blank">Kommunen</a>. Die hochqualitative SES Eigenmarke mit <a href="/led-leuchtmittel/led-roehren/">LED T8 / T5 Röhren</a>, SES <a href="https://www.ses-shop.ch/led-leuchtmittel/led-streifen-module/">LED Streifen</a> oder das hocheffiziente deutsche Hella IL2 Plus <a href="https://www.ses-shop.ch/led-systeme/led-tragschienensysteme/">LED Lichtbandsystem</a> oder Hellux&nbsp;<a href="https://www.ses-shop.ch/led-systeme/led-strassenleuchten/">LED Strasseleuchten</a> bilden nur ein kleinen Teil eines umfassenden LED Sortimentes.&nbsp;Einfach beim führenden LED Shop der Schweiz online bestellen und sofort Strom, Unterhaltskosten und Geld sparen.&nbsp;Wir realisieren mit Ihnen&nbsp;die Energieeffizienz, denn 14-16% des Gesamt-Strom-Verbrauchs wird für Licht teilweise verschwendet und davon könnten wir&nbsp;mit LED's einfach 50-60% einsparen. Durch die zusätzlich lange LED Lebensdauer und neueste&nbsp;LED Smart-Technologien,&nbsp;wird der Ressourceneinsatz und Unterhaltsaufwand massiv minimiert und die Umwelt geschont. Einfach zu&nbsp;realisieren für Jedermann, nur alte&nbsp;"Stromfresser" raus, LED rein und erst noch Geld beim Strom und Unterhalt sparen.</p>
	<h2>LED Leuchtmittel und LED Leuchten einfach und sicher online bestellen</h2>
	<p style="line-height: 20.8px;">Im&nbsp;SES&nbsp;<a href="https://www.trustedshops.ch/bewertung/info_X50EE1F62FE2A9D33EF8C08E77BC0E15F.html&amp;utm_source=shop&amp;utm_medium=link&amp;utm_content=trustcard&amp;utm_campaign=trustbadge" target="_blank">Trusted-Shop</a> LED Online Store&nbsp;und als&nbsp;<a href="http://www.ses-ag.ch/content/01-home/led-qualitaet/ses-swiss-energy-solution-ag-c-d.pdf?_ga=1.20984824.2134443857.1435337465" target="_blank">ISO 9001 / 14001</a> zertifizierten <a href="https://www.ses-shop.ch/unternehmen/swiss-energy-solution-ag/">SES Unternehmen</a>, mit TüV diplomierten Lichtplanern führen wir für den privaten und professionellen Anwender eine grosse Auswahl an&nbsp;<a href="/led-leuchtmittel/">Standard- und Spezial-LED-Leuchtmittel</a>. <a href="/led-leuchtmittel/led-filament/" target="_blank" title="Filament Birnen mit Glühbirnen Optik">LED Filament</a>, <a href="/led-leuchtmittel/e27-led-birnen/" title="LED Birnen mit E27 Sockel">E27 Birne</a>, <a href="/led-leuchtmittel/e14-led/" title="Kerzen mit E14 Sockel">E14 Kerze</a>, <a href="/led-leuchtmittel/gu4-led/" target="_blank" title="12 Volt GU4 Spots ">LED Spot&nbsp;in&nbsp;GU4</a>, <a href="/led-leuchtmittel/led-spot-5-3/" title="12 Volt GU5.3 Spots">GU5.3</a>, <a href="/led-leuchtmittel/gu10/" title="GU10 PAR LED Spots">GU10</a>, <a href="/led-leuchtmittel/led-roehren/" title="LED Röhren T8 und T5">T8 Röhre</a>, <a href="/led-leuchtmittel/r7s/" title="LED Stäbe mit R7s Sockel">RS7 Stäbe</a>, <a href="/led-systeme/led-flutlichter/" target="_blank" title="LED Fluterlichter / Scheinwerfer">LED Fluter</a>, <a href="/led-leuchtmittel/g4/" title="LED Pins mit G4 Sockel">LED Pin G4</a>, <a href="/led-leuchtmittel/led-g9/" title="G9 LED Pins">Pin G9</a>,&nbsp;<a href="/led-leuchtmittel/g24/" title="LED Stäbe mit G24 Sockel">LED Stab G24</a>,&nbsp;<a href="/led-leuchtmittel/led-streifen-module/" title="LED Streifen und Module für dekoratives Licht">LED Streifen</a>,&nbsp;<a href="/led-systeme/led-flaechenleuchten/" target="_blank" title="LED Panels, Decken- und Wandleuchten">LED Panels</a> und vieles mehr. Unter der Rubrik <a href="https://www.ses-shop.ch/led-lampenwelt/">LED Lampenwelt</a> finden Sie: <a href="https://www.ses-shop.ch/led-lampenwelt/led-gartenlampen/">LED Gartenlampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-tischlampen/">LED Tischlampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-staenderlampen/">LED Ständerlampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-wandlampen-deckenlampen/">Wand - und Deckenleuchten</a>, top <a href="https://www.ses-shop.ch/led-lampenwelt/led-taschenlampen/">LED Taschenlampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-taschenlampen/">LED Lichterketten</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-moebellampen/">LED Möbel-Lampen</a>, <a href="https://www.ses-shop.ch/led-lampenwelt/led-dekolampen/">LED Dekolampen</a>&nbsp;und <a href="https://www.ses-shop.ch/led-lampenwelt/led-nachtlichter/">LED Nachtlichter</a>. Diese LED&nbsp;Produkte können einfach, sicher&nbsp;und unkompliziert via SES LED Shop online bestellt oder direkt in unserem Verkaufsladen in 5012 Schönenwerd bezogen werden. Wiederverkäufer, Elektriker,&nbsp;Unterhaltsfirmen, Ladenbauer und LED Leuchten-Shops erhalten zudem sehr interessante Sonder-Konditionen.</p>
	<p>Wir ergänzen laufend unser LED Sortiment, <a href="/led-service-und-support/downloads/" target="_blank">unter Downloads finden Sie Kataloge unsere TOP LED Marken-Hersteller</a>.<br />Finden Sie etwas nicht im SES LED Online Store, <a href="https://www.ses-shop.ch/led-webshop/kontakt/">rufen Sie uns einfach an</a>.</p>
	<h2>LED Lichtplanung und SES Service von A-Z</h2>
	<p>Die SES AG führt ein hochqualitatives, innovatives, modulares und nachhaltiges LED Produktsortiment auch für absolut&nbsp;<a href="https://www.ses-shop.ch/led-systeme/">professionelle LED Anwendungen</a>. Als Gesamt-Dienstleister&nbsp;erstellen wir komplette <a href="/led-service-und-support/led-projektberatung/" title="Komplette LED Lichtplanungen">Lichtplanungen</a>, helfen bei der Projekt-Finanzierung oder realisieren Ihre LED Lichtprojekt&nbsp;als GU.&nbsp;Wir garantieren energieeffiziente und kostenoptimierte LED Gesamtlösungen für Produktionshallen, Lager, Bürogebäude; Hotels, Restaurants, Verkaufsshops und Wohnhäuser für den Innen- und Aussenbereich. Ziel der SES AG ist es beste LED Markenprodukten-Produkte und einen vollumfänglichen Service anzubieten. Eine maximale Energieeffizienz mittels perfekter&nbsp;<a href="/led-service-und-support/led-projektberatung/" title="LED Lichtplanungen">LED Lichtplanung</a>, bester LED Produktelösung und optimaler Steuerungen zu erreichen.&nbsp;Die SES AG garantiert maximale Energieeffizienz zu minimalen Gesamtkosten mit ökologischem Mehrwert.</p>
	<p><a href="https://www.ses-shop.ch/led-webshop/kontakt/">Kontaktieren Sie uns</a>, gerne beraten wir Sie.</p>
	<p>SES AG Ihr Schweizer Partner für eine innovative und energieeffiziente LED Beleuchtung.</p>
	<p>&nbsp;</p></article>
	<div class="fb-like" data-href="https://www.ses-shop.ch/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
</div>

{% endblock %}
