img{
  max-width: 100%;
}
.top-bar{
  background-color: #adb617;
  box-shadow: none;
}
.wrapper-main .navbar{
  background: #ffffff;
}
nav.navbar.megamenu{
  padding: 10px 0;
}
.cmp-search-box{
  background: #adb617;
}
.anicon > .anicon-search-item:before{
  width: 7px;
}
.anicon > .anicon-search-item:after{
  background: none;
}
.anicon.anicon-search-xcross[aria-expanded="true"] > .anicon-search-item:before{
  width: 15px;
}
.cmp-search-box .search-box-inner{
  padding: 2rem 0em;
}
.category-description h1,
.category-description h2{
  font-size: 4rem;
  font-weight: 200
}
.category-description p{
  font-size: 1.5rem;
  font-weight: 200
}
